/* Fonts */

/*
@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&amp;display=swap');



@font-face {
    font-family: 'BebasNeue-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('BebasNeueRegular.eot'), 
        url(BebasNeueRegular.woff') format('woff'),
        url(BebasNeueRegular.otf') format('opentype');
    font-display: swap;
}



@font-face {
font-family: 'Metropolis';
font-style: normal;
font-weight: 400;
src: local('Metropolis-Regular'), url('Metropolis-Regular.woff') format('woff');
font-display: swap;
}



/* @font-face {
font-family: 'Metropolis';
font-style: italic;
font-weight: 400;
src: local('Metropolis-RegularItalic'), url('Metropolis-RegularItalic.html') format('woff');
font-display: swap;
} */


@font-face {
font-family: 'Metropolis';
font-style: normal;
font-weight: 600;
src: local('Metropolis-SemiBold'), url('Metropolis-SemiBold.woff') format('woff');
font-display: swap;
}


@font-face {
font-family: 'Metropolis';
font-style: italic;
font-weight: 600;
src: local('Metropolis-SemiBoldItalic'), url('Metropolis-SemiBoldItalic.woff') format('woff');
font-display: swap;
}


@font-face {
font-family: 'Metropolis';
font-style: normal;
font-weight: 700;
src: local('Metropolis-Bold'), url('Metropolis-Bold.woff') format('woff');
font-display: swap;
}


@font-face {
font-family: 'Metropolis';
font-style: italic;
font-weight: 700;
src: local('Metropolis-BoldItalic'), url('Metropolis-BoldItalic.woff') format('woff');
font-display: swap;
}


@font-face {
font-family: 'Metropolis';
font-style: normal;
font-weight: 700;
src: local('Metropolis-ExtraBold'), url('Metropolis-ExtraBold.woff') format('woff');
font-display: swap;
}


@font-face {
font-family: 'Metropolis';
font-style: italic;
font-weight: 700;
src: local('Metropolis-ExtraBoldItalic'), url('Metropolis-ExtraBoldItalic.woff') format('woff');
font-display: swap;
}


@font-face {
font-family: 'Metropolis';
font-style: normal;
font-weight: 300;
src: local('Metropolis-Light'), url('Metropolis-Light.woff') format('woff');
font-display: swap;
}


@font-face {
font-family: 'Metropolis';
font-style: italic;
font-weight: 300;
src: local('Metropolis-ExtraLight'), url('Metropolis-ExtraLight.woff') format('woff');
font-display: swap;
}


@font-face {
font-family: 'Metropolis';
font-style: normal;
font-weight: 200;
src: local('Metropolis-Thin'), url('Metropolis-Thin.woff') format('woff');
font-display: swap;
}


@font-face {
font-family: 'Metropolis';
font-style: italic;
font-weight: 200;
src: local('Metropolis-ThinItalic'), url(Metropolis-ThinItalic.woff') format('woff');
font-display: swap;
}


